* {
  box-sizing: border-box;
}

body {
    background: #cccc33; /* Цвет фона */
   }

h1 {
	font-size: 45px;
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-weight: normal;
	text-align: center;
	color: #003366;
	margin-bottom: 20px;
}

p {
	padding: 15px 5px 5px 5px;
	font-size: 16px;
	position: relative;
}

.section { 
	background-color: #ffffcc;
   	border: 4px solid #003366;
   	border-radius: 10px;
   	margin-top: 0px; 
   	margin: 5px; 
    padding: 1% 1%;
   	box-sizing: border-box;
   	font-family: Arial, Helvetica, sans-serif;
   	text-align: justify;
   	color: #003366;
   	position: relative;
 }

span {
	font-size: 22px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-variant: small-caps;
	width: 50%;
	border: 3px solid #003366;
	border-radius: 0 10px 0;
	font-weight: bold;
	text-align: center;
	float: right; top: 0; right: 0; margin: 0;
	margin-top: -3px; 
   	margin-right: -3px; 
	position: absolute;
}

#box-1 {
	background-color: #ffcccc;
	color: #003366;
}
#box-2 {
	background-color: #cc3333;
	color: #ffff99;
}
#box-3 {
	background-color: #99ccff;
	color: #003366;
}

a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-weight: normal;
}
a:link {
  color: #003366; 
  border-bottom: 1px dashed; 
}
a:hover {
  color: #cc3333; 
  border-bottom: 1px solid;
}

.row {
	width: 100%;
}


/* Desktop */

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

/* Mobile */
@media (max-width: 767px)  {
  
  .col-xs-12 {
  	width: 100%;
  	float: left;
  }
}
